/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  box-sizing: border-box;
}

:root {
  --primary-color: #6096ba;
  --secondary-color: #a3cef1;
  --accent1-color: #274c77;
  --accent2-color: #e7ecef;
  --accent3-color: #8b8c89;

  --heading-font: Libre Baskerville, Serif;
  --paragraph-font: Merriweather serif;

  --headline-color-on-white: #3c787e; /* headlines on a white background */
  --headline-color-on-color: #ffffff; /* headlines on a colored background */
  --paragraph-color-on-white: #3c787e; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #3c787e;
  --nav-link-color: #000000;
  --nav-background-color: #8b8c89;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #d7fef2;
}

body {
  padding: 0;
  margin: 0;
}
header {
  display: grid;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}
.header {
  display: flex;
  grid-gap: 10px;
  margin: 20px 0 0 0;
}
.header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.date {
  margin: 0.5rem;
  border: 1px solid #bbb;
  padding: 0.75rem;
  background-color: var(--accent3-color);
  text-align: center;
}
.logo {
  display: flex;
}
.logo-img {
  width: 70px;
  padding: 10px;
  margin-top: 10px;
}
.headings {
  justify-content: center;
}
.m {
  letter-spacing: 1pt;
  color: var(--accent1-color);
  font-weight: 70;
  font-size: 0.8rem;
}
.social {
  margin-right: 0.5em;
  display: flex;
  padding: 5px;
  grid-gap: 10px;
  /* grid-column: 2/3; */
  margin-top: 20px;
}
.social img {
  width: 30px;
  height: auto;
  border-radius: 1em;
}
nav {
  /* grid-column: 3/4; */
  margin-top: 20px;
}
nav ul li a:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerBtn :nth-child(1) {
  display: block;
}
#hamburgerBtn :nth-child(2) {
  display: none;
}

#hamburgerBtn.open :nth-child(1) {
  display: none;
}
#hamburgerBtn.open :nth-child(2) {
  display: block;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

#more {
  display: none;
}
/* ****************************************** */

.main {
  display: block;
  grid-gap: 10px;
  font-size: 1rem;
}

main section {
  /* background-color: var(--accent2-color); */
  color: var(--nav-link-color);
  /* font-weight: bold; */
  height: 250px;
  margin-top: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  text-decoration: solid;
  padding: 10px;
}
h2 {
  text-align: center;
}
section.e,
section.w,
section.n,
section.j,
section.spot {
  background-color: var(--secondary-color);
}

.spot {
  min-height: 400px;
  background-color: #bbb;
  display: block;
}

section .sp1,
section .sp2 {
  height: 185px;
  width: 90%;
  margin-top: 0;
}
.sp3 {
  display: none;
}

footer {
  display: block;
  text-decoration: none;
  text-align: center;
}
.f-logo {
  width: 100px;
}
.map {
  width: 30px;
  height: auto;
}

#lastModified {
  font-size: smaller;
}
header,
footer {
  color: var(--headline-color-on-color);
  font-weight: bold;
  background-color: var(--primary-color);
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

#hero-box {
  grid-column: 1/3;
  grid-row: 1;
  z-index: -1;
}

#hero-msg {
  grid-column: 1/3;
  grid-row: 1;
  margin-top: 0;
}
main section h1.home-title {
  color: tomato;
  text-shadow: 5px 5px 10px #6f7364;
}
main .button-box {
  background-color: tomato;
  width: max-content;
  padding: 10px;
  border-radius: 1rem;
  text-shadow: 5px 5px 10px #6f7364;
}

main figure.hero {
  width: 100%;
  /* border: 1px red dashed; */
  margin: 0 0 0 0;
  /* height: 250px; */
}
main figure.hero img {
  width: 100%;
  height: 250px;
}

section.j {
  display: none;
}

section .sp1 {
  display: block;
}
section .sp2 {
  display: block;
}
section .sp1 h3,
figure.so,
p,
a,
hr {
  margin: 0;
  text-align: center;
}
section .sp2 h3,
figure.uba,
.uba,
p,
a,
hr {
  margin: 0;
  text-align: center;
}
section .sp1 figure.so img {
  width: 40%;
}
section,
section .sp1,
.sp2 {
  box-shadow: 5px 5px 10px #6f7364;
}
section .sp1 p,
a,
hr {
  font-weight: bold;
}
section .sp2 p,
a,
hr {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

section .w h2 {
  text-align: center;
  margin: 5px;
}
section .weather1 img {
  width: 50%;
  float: left;
  margin-top: -60px;
  mix-blend-mode: overlay;
}

#myBtn {
  background: grey;
}

/* clearfix: force an Element not to collapse */
/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */
/* section.spot section #sp3 {
  display: none;
} */
